<header class="mb-auto">
    <div class="pt-3">
        <h3 class="float-md-start mb-0">Sports Fan Site</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link link-light active" aria-current="page" href="/">Home</a>
            <a class="nav-link link-light" href="{% url 'sports:rules' sports.id %}">Rule</a>
            <a class="nav-link link-light" href="{% url 'sports:notables' sports.id %}">Notables</a>
            <a class="nav-link link-light" href="{% url 'sports:links' sports.id %}">Link</a>
        </nav>
    </div>
</header>