{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <title>Sports Fan website</title>
</head>
<body class="d-flex vh-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column" style="background-image: url('{{ sports.cover.url }}'); background-size: cover; background-position: center 60%;">
        <div class="mask">
            <div class="container vh-100">
                {% include 'includes/base/nav.html' %}

                <main>
                    {% block main %}{% endblock %}
                </main>

                {% include 'includes/base/footer.html' %}
            </div>
        </div>

    </div>

    {% bootstrap_javascript %}
</body>
</html>